extends layout

block content
  h1 #{title}: #{`${game.title}`}
  p Do you really want to delete this Game?

    form(method='POST' action='')
      div.form-group
        input#gameid.form-control(type='hidden',name='gameid', required='true', value=game._id )

      button.btn.btn-primary(type='submit') Delete