.game-list-ul {
  display: flex;
  flex-flow: row wrap;
  padding: 2em 1em;
  margin: auto;
  justify-content: center;
  width: 90vw;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  color: black;
  width: 10vw;
  ul {
    margin: 0;
    padding: 0.5em;
    list-style: none;
    li {
      padding-left: 1em;
      margin: 2px;
      &:hover {
        cursor: pointer;
        background-color: gray;
        border-radius: 0.5em;
      }
    }
  }
}

.show {display: block;}

.title {
  text-align: center;
}